@tailwind base;
@tailwind components;
.btnPrimary {
    @apply bg-gray-500 hover:bg-gray-400 active:bg-gray-700  text-white py-1 px-5 font-semibold cursor-pointer uppercase tracking-widest rounded-sm focus:outline-none focus:ring-2 focus:border-gray-400 focus:ring-gray-400;
}

.defualtLink {
    @apply opacity-90 hover:text-blue-800 hover:underline;
}

.mainGridCol5 {
    @apply grid grid-cols-5 mx-auto container;
}

.mainGridChild {
    @apply px-10 py-20 col-span-4 my-10 space-y-6 rounded-md;
}

.sidebar {
    @apply w-64 bg-black bg-opacity-90 h-screen right-0 absolute text-gray-100 space-y-6 col-span-1 py-5;
}

.sideBarItem {
    @apply flex items-center gap-2 text-lg font-thin p-2 px-10 cursor-pointer hover:bg-gray-200 hover:text-gray-900;
}

.profileMenuItem {
    @apply font-semibold cursor-pointer hover:bg-gray-200 hover:text-gray-900 px-6 py-1;
}

.playlistItem {
    @apply text-gray-300 hover:text-white cursor-pointer;
}

.react-jinke-music-player-main .music-player-panel {
    backdrop-filter: blur(400px) !important;
}

.flexGap2 {
    @apply flex items-center gap-2;
}

.flexBetween {
    @apply flex items-center justify-between;
}

.profileItemLabel {
    @apply opacity-60 py-2 font-medium;
}

.profileItemValue {
    @apply font-medium py-2;
}

/* Custom Scrollbar start*/
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* Custom Scrollbar end*/

@tailwind utilities;

@layer base {
    [type="text"],
    [type="email"],
    [type="date"],
    [type="password"],
    [type="tel"],
    select {
        @apply w-full rounded-md text-gray-800 border-gray-400 focus:border-indigo-400 focus:ring-indigo-400 drop-shadow-md;
    }
}
